.programi-page h2{
    text-align: center;
    padding: 80px 150px 0;
    text-transform: none;
}
.programi-page{
    background: linear-gradient(45deg, white, navajowhite, pink);
}
.card{
    margin: 20px 20px 40px;
    width: 330px;
}
.special{
    color: white;
}
.cards{
    padding: 0 120px;
}

.special h5{
    color: white;
}
.special .break{
    background-color: white;
}
@media (max-width: 768px) {
    .programi-page h2{
        font-size: 2rem;
        padding: 80px 0 0;
    }
    .card{
        margin: 20px auto;
    }
}